* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    font-family: "Inter", sans-serif;
    max-width: 548px;
    margin: 0 auto;
    background-color: #FFF7ED;
    scrollbar-width: none;
}

nav > a {
    text-decoration: none;
}
