* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    padding: 0;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    background-color: #FFF7ED;
    scrollbar-width: none;
}

main {
    flex-grow: 1;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
}
