.backLink {
    display: inline-block;
    position: relative;
    margin-bottom: 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #201F1D;
}

.backLink span {
    text-decoration-line: underline;
}

.backLink:hover {
    opacity: 0.8;
}
