.backLink {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #201F1D;
}

.backLinkText {
    display: inline-block;
    margin-bottom: 41px;
    text-decoration-line: underline;
    color: #201F1D;
}

.backLinkText:hover {
    opacity: 0.8;
}
