.vanType {
    display: inline-block;
    height: 34px;
    width: 100px;
    padding: 6px 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 1px 10px #161616;
}

.vanType:hover {
    color: #FFEAD0;
}

.vanType:focus {
    outline: none;
}

.vanType.selected {
    color: #FFEAD0;
}

.simple {
    background-color: #E17654;
    color: #FFEAD0;
}

.rugged {
    background-color: #115E59;
    color: #FFEAD0;
}

.luxury {
    background-color: #161616;
    color: #FFEAD0;
}
