.container {
    padding: 104px 26px 26px;
    max-width: 548px;
    margin: 0 auto;
}

.container h1 {
    margin-bottom: 50px;
}

.backHomeLink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 12px 0;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    text-decoration: none;
}
